.btnBackToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 38px;
    position: fixed;
    bottom: 70px;
    right: 17px;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    background: #f5e130;
    color: var(--color-nav-text);
    opacity: 0;  // changed in javascript when scrolling down */
    transition: opacity 0.4s ease-out;
    
    &:hover {
        background-color: var(--color-nav-hover);
        color: var(--color-nav-text-hover); 
      }
}

.btnOpenChatBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 12px;
    right: 17px;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    background: #f5e130;
    color: var(--color-nav-text);
    border-radius: 50%;
    &:hover {
        background-color: var(--color-nav-hover);
        color: var(--color-nav-text-hover); 
      }
}

#chat-prepare {
  display: flex;
  justify-content: center;
  width: 260px;
  min-height: 100px;
  overflow: hidden;
  position: fixed;
  bottom: 70px;
  right: 17px;
  z-index: 20;
  border:1px solid var(--color-text);
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  background: var(--color-nav-bg);
  color: var(--color-nav-text);
  border-radius: 5px;
  transform: scaleY(0);    
  transform-origin: bottom;
  transition: transform 0.26s ease;
  &:hover {
      background-color: var(--color-nav-hover);
      color: var(--color-nav-text-hover); 
      
    }
}
#chat-prepare.is-active {
  transform: scaleY(1);
}

