{% load i18n %}
<footer>
  <!-- START THE COPYRIGHT INFO  -->
  <div class="footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="footer-small__copyright">
            &COPY; 2022 zap Corp. {% trans "All Rights Reserved." %}
            <a href="{% url 'legal:terms_of_service' %}">{% trans "User Agreement" %}</a>,
            <a href="{% url 'legal:privacy_policy' %}">{% trans "Privacy" %}</a> {% trans "and" %}
            <a href="{% url 'base:cookie_opt' %}">{% trans "Cookie" %}</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>