{% load i18n %}
<footer>
  <!-- START THE COPYRIGHT INFO  -->
  <div class="footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="footer-small__copyright">
            &COPY; 2022 zap Corp. {% trans "All Rights Reserved." %} <a href="#">{% trans "User Agreement" %}</a>,
            <a href="#">{% trans "Privacy" %}</a> {% trans "and" %} <a href="#">{% trans "Cookies" %}</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>