{% extends 'main.html' %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Monitor" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% block content %}

<main class="d-flex flex-fill">
  <section class="full_section text_color">
    <div class="h-100 container-fluid">
      <div class="h-100 d-flex gap-2">
        <div class="d-flex flex-column flex-grow-1 gap-1" style="min-width:300px;">
          <textarea class="command-log" id="command-log"></textarea>
          <textarea class="command-input" id="command-input" type="text" rows="2"></textarea>
          <button class="command-submit" id="command-submit">{% trans "Send command" %}</button>
        </div>

        <div class="d-flex flex-column align-items-start" style="width:250px;">
        </div>

        <div class="d-flex flex-column align-items-start" style="width:250px;">
        </div>
      </div>
    </div>
  </section>

</main>


{% endblock %}