{% extends 'main.html' %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Chat Lobby" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% block content %}

<main class="d-flex flex-fill">
  <section class="full_section text_color">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          1 of 3
        </div>
        <div class="col-4">
          <div class="chatCtn">
            <div class="chatStream">
              <div class="chatMessageArea">
                <div class="chatMessage">
                  <div class="chatText">
                    asfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf
                    dafasfasdf dafasfasdf daf.
                    asfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf dafasfasdf
                    dafasfasdf dafasfasdf daf.
                  </div>
                </div>
                <div class="chatAvatar">
                  AA
                </div>
              </div>
            </div>
            <div class="chatInputArea">
              <textarea class="chatTextInput" spellcheck="false"
                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"></textarea>
              <button class="chatSendButton">{% trans "Send" %}</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          3 of 3
        </div>
      </div>
    </div>
  </section>

</main>



{% endblock %}