    <div class="canvas_container m-0 p-0">
      <div class="mask_avatar_circle">
        <svg id="initialAvatarSVG" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg">
          <path style="fill:#E7ECED;" d="M18.613,41.552l-7.907,4.313c-0.464,0.253-0.881,0.564-1.269,0.903C14.047,50.655,19.998,53,26.5,53
          c6.454,0,12.367-2.31,16.964-6.144c-0.424-0.358-0.884-0.68-1.394-0.934l-8.467-4.233c-1.094-0.547-1.785-1.665-1.785-2.888v-3.322
          c0.238-0.271,0.51-0.619,0.801-1.03c1.154-1.63,2.027-3.423,2.632-5.304c1.086-0.335,1.886-1.338,1.886-2.53v-3.546
          c0-0.78-0.347-1.477-0.886-1.965v-5.126c0,0,1.053-7.977-9.75-7.977s-9.75,7.977-9.75,7.977v5.126
          c-0.54,0.488-0.886,1.185-0.886,1.965v3.546c0,0.934,0.491,1.756,1.226,2.231c0.886,3.857,3.206,6.633,3.206,6.633v3.24
          C20.296,39.899,19.65,40.986,18.613,41.552z" /></svg>
        <canvas id="canvasAvatarSelection" width="235" height="235"></canvas>
      </div>
    </div>
    <label for="inputImgFileAvatar" class="btn">Choose Image File</label>
    <input id="inputImgFileAvatar" style="visibility:hidden;" type="file" accept=".png,.jpg,.jpeg,.bitmap" />
    <button onclick="save_image()" id="buttonSubmitAvatar" disabled>Save Avatar</button>
    <div class="">
      Instructions to create an avatar image:
      <ol class="">
        <li>Press "Choose Image File" and select an image file from your computer;</li>
        <li>Use the mouse (left-click and wheel) or touch-screen (drag and pinch) to zoom and position your avatar
          inside the circle;</li>
        <li>Press "Save Avatar".</li>
      </ol>
      <div> Note: All avatar images are saved to Zap at a maximum resolution of [235&nbsp;x&nbsp;235].</div>
    </div>

    <style>
      #initialAvatarSVG {
        background: rgb(145, 145, 145);
      }

      #canvasAvatarSelection {
        touch-action: none;
        background: rgb(145, 145, 145);
        width: 300px;
      }

      .canvas_container {
        width: 300px;
        height: 300px;
        border: 0.05rem solid rgb(0, 0, 0);
      }

      .mask_avatar_circle {
        width: 300px;
        height: 300px;
        -webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.07) 70%);
        mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.07));
      }

      .stop-scrolling {
        height: 100%;
        overflow: hidden;
      }
    </style>

    <script>
      let canvas_dimension = 235
      let canvas_width = canvas_dimension
      let canvas_height = canvas_dimension
      let canvasOffsetX = canvas_width / 2
      let canvasOffsetY = canvas_height / 2
      let canvas = document.getElementById("canvasAvatarSelection")
      let ctx = canvas.getContext('2d')
      let cameraOffset = {
        x: canvasOffsetX,
        y: canvasOffsetY
      }
      let cameraZoom = 1
      let MAX_ZOOM
      let MIN_ZOOM
      let SCROLL_SENSITIVITY = 0.0005

      let buttonSubmitAvatar = document.getElementById("buttonSubmitAvatar")
      let initialAvatarSVG = document.getElementById("initialAvatarSVG")

      var input = document.getElementById('inputImgFileAvatar');
      var img = new Image;
      input.addEventListener('change', handleFiles);
      let imgoffsetX, imgoffsetY;

      function handleFiles(e) {
        img.src = URL.createObjectURL(e.target.files[0]);
        img.onload = function () {
          buttonSubmitAvatar.disabled = false;
          initialAvatarSVG.remove();
          imgoffsetX = -img.width / 2;
          imgoffsetY = -img.height / 2;
          max_img_dimension = Math.max(img.width, img.height);
          cameraZoom = canvas_dimension / max_img_dimension;
          MAX_ZOOM = cameraZoom * 20
          MIN_ZOOM = cameraZoom
          canvas.addEventListener('mousedown', onPointerDown)
          canvas.addEventListener('touchstart', (e) => handleTouch(e, onPointerDown))
          window.addEventListener('mouseup', onPointerUp)
          canvas.addEventListener('touchend', (e) => handleTouch(e, onPointerUp))
          canvas.addEventListener('mousemove', onPointerMove)
          canvas.addEventListener('touchmove', (e) => handleTouch(e, onPointerMove))
          canvas.addEventListener('wheel', (e) => adjustZoom(e.deltaY * SCROLL_SENSITIVITY))
          // Ready, set, go
          draw()
        }
      }

      // var img = new Image;
      // img.src = "https://akm-img-a-in.tosshub.com/indiatoday/images/story/202105/Capture_27_1200x768.png?size=690:388";

      function draw() {
        canvas.width = canvas_width
        canvas.height = canvas_height

        limitCameraOffset()
        // Translate to the canvas centre before zooming - so you'll always zoom on what you're looking directly at
        ctx.translate(canvasOffsetX, canvasOffsetY)
        ctx.scale(cameraZoom, cameraZoom)
        // console.log(cameraZoom)
        ctx.translate(-canvasOffsetX + cameraOffset.x, -canvasOffsetY + cameraOffset.y)
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        ctx.drawImage(img, imgoffsetX, imgoffsetY);

        requestAnimationFrame(draw)
      }

      //  custom limit camera off image edges
      function limitCameraOffset(e) {
        cameraOffset.x = Math.min(cameraOffset.x, canvasOffsetX - (canvasOffsetX / cameraZoom - max_img_dimension / 2))
        cameraOffset.x = Math.max(cameraOffset.x, canvasOffsetX + (canvasOffsetX / cameraZoom - max_img_dimension / 2))
        cameraOffset.y = Math.min(cameraOffset.y, canvasOffsetY - (canvasOffsetY / cameraZoom - max_img_dimension / 2))
        cameraOffset.y = Math.max(cameraOffset.y, canvasOffsetY + (canvasOffsetY / cameraZoom - max_img_dimension / 2))
      }

      // Gets the relevant location from a mouse or single touch event
      function getEventLocation(e) {
        if (e.touches && e.touches.length == 1) {
          return {
            x: e.touches[0].clientX,
            y: e.touches[0].clientY
          }
        } else if (e.clientX && e.clientY) {
          return {
            x: e.clientX,
            y: e.clientY
          }
        }
      }

      let isDragging = false
      let dragStart = {
        x: 0,
        y: 0
      }

      function onPointerDown(e) {
        isDragging = true
        dragStart.x = getEventLocation(e).x / cameraZoom - cameraOffset.x
        dragStart.y = getEventLocation(e).y / cameraZoom - cameraOffset.y
      }

      function onPointerUp(e) {
        isDragging = false
        initialPinchDistance = null
        lastZoom = cameraZoom
      }

      function onPointerMove(e) {
        if (isDragging) {
          cameraOffset.x = getEventLocation(e).x / cameraZoom - dragStart.x
          cameraOffset.y = getEventLocation(e).y / cameraZoom - dragStart.y
        }
      }

      function handleTouch(e, singleTouchHandler) {
        if (e.touches.length <= 1) // 1 fingers or 0 at touchend
        {
          singleTouchHandler(e)
        } else if (e.type == "touchmove" && e.touches.length == 2) {
          isDragging = false
          handlePinch(e)
        }
      }

      let initialPinchDistance = null
      let lastZoom = cameraZoom

      function handlePinch(e) {
        e.preventDefault()

        let touch1 = {
          x: e.touches[0].clientX,
          y: e.touches[0].clientY
        }
        let touch2 = {
          x: e.touches[1].clientX,
          y: e.touches[1].clientY
        }

        // This is distance squared, but no need for an expensive sqrt as it's only used in ratio
        let currentDistance = (touch1.x - touch2.x) ** 2 + (touch1.y - touch2.y) ** 2

        if (initialPinchDistance == null) {
          initialPinchDistance = currentDistance
        } else {
          adjustZoom(null, currentDistance / initialPinchDistance)
        }
      }

      function adjustZoom(zoomAmount, zoomFactor) {
        if (!isDragging) {
          if (zoomAmount) {
            cameraZoom -= cameraZoom * zoomAmount
            lastZoom = cameraZoom
          } else if (zoomFactor) {
            cameraZoom = zoomFactor * lastZoom
          }

          cameraZoom = Math.min(cameraZoom, MAX_ZOOM)
          cameraZoom = Math.max(cameraZoom, MIN_ZOOM)

        }
      }

      // Prevent body scrolling (overflow) when mouse cursor is inside the canvas
      let body_element = document.getElementById("page_body")
      canvas.addEventListener("mouseleave", function (event) {
        body_element.classList.remove("stop-scrolling");
      }, false);
      canvas.addEventListener("mouseover", function (event) {
        body_element.classList.add("stop-scrolling");
      }, false);

      // Get result avatar image in file format and send it to the server
      function save_image() {
        buttonSubmitAvatar.disabled = true; // prevent double click on button
        // get image from canvas into file format
        var imgsrc = canvas.toDataURL("avatar/png");
        var blob = dataURLtoBlob(imgsrc);
        var file = new File([blob], 'my_avatar.png', {
          type: "avatar/png",
          lastModified: new Date()
        });
        // send image file to server with fetch
        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        let formData = new FormData();
        formData.append('file', file);
        formData.append("csrfmiddlewaretoken", csrf_token);
        fetch("{% url 'accounts:modify_avatar' %}", {
            method: 'POST',
            body: formData,
          }).then(response => response.json())
          .then(response => {
            console.log(response)
          })
      }
      // to transform a dataURL to a blob (no need to understand in detail)
      function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','),
          mime = arr[0].match(/:(.*?);/)[1],
          bstr = atob(arr[1]),
          n = bstr.length,
          u8arr = new Uint8Array(n);
        while (n--) {
          u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], {
          type: mime
        });
      }
    </script>