{% load static %}{% load i18n %}
<div class="">
  {% trans "My photo or avatar" %}
</div>
<div class="image_viewer_canvas_container">
  <div class="image_viewer_mask">
    <canvas class="image_viewer_canvas"></canvas>
    {% if user.avatar %}
    <img class="imageViewerInitialImage" src="{{ user.avatar.url }}" width="30px" alt="Avatar">
    {% else %}
    <img class="imageViewerInitialImage" src="{% static '/images/default_avatar.svg' %}" width="30px" alt="Avatar">
    {% endif %}
  </div>
</div>

<input class="imageViewerFileRealInput" type="file" hidden="hidden" accept=".png,.jpg,.jpeg,.bitmap">
<button
  class="imageViewerFileChooseBtn">{% trans "Choose an image file from my computer for editing my avatar" %}</button>
<button class="fileUploadSendAvatarBtn" disabled>{% trans "Save my avatar image on the server" %}</button>
<div class="fileUploadLogTxt">.</div>

<div class="">
  <div> {% trans "Note: Avatar images are saved at a resolution of 205&nbsp;x&nbsp;205&nbsp;pixels." %}</div>
</div>

{% csrf_token %}

<script type="text/javascript">
  var protectedUri = "{{ protected_uri }}";
</script>

<script type="module" src="{% static 'js/imagescript.js' %}"></script>

</body>

</html>

<style>
  .image_viewer_canvas_container {
    width: 205px;
    height: 205px;
    padding: 0;
    position: relative;
  }

  .image_viewer_mask {
    width: 100%;
    height: 100%;
    -webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.6) 70%);
    mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.6) 70%);
  }

  .imageViewerInitialImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .image_viewer_canvas {
    width: 100%;
    height: 100%;
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
</style>