// #######################################
//		CSS variables
// #######################################

/* Light theme */

:root {
  --color-1: rgb(223, 230, 255);
  --color-2: rgb(232, 245, 255);
  --color-cmd-bg: rgb(255, 255, 255);
  --color-nav-bg: rgb(219, 235, 243);
  --color-nav-lev2: rgb(233, 244, 250);
  --color-nav-hover: rgb(255, 255, 255);
  --color-nav-acc-select: rgb(120, 150, 122);
  --color-nav-dropdownbtnshow: rgb(255, 0, 0);
  --color-social-hover: rgb(59, 59, 59);
  --color-accordion-item-border: rgb(62, 99, 134);
  --color-text: rgb(0, 0, 0);
  --color-text-tame1: rgb(77, 77, 77);
  --color-text-tame2: rgb(143, 143, 143);
  --color-nav-text: rgb(0, 0, 0);
  --color-nav-text-hover: rgb(95, 0, 0);
  --accordion-toggle-image-close: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
  --accordion-toggle-image-open: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111111'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>  <path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
  --color-link: rgb(54, 101, 243);
  --color-link-hover: rgb(109, 142, 240);
  --color-account-table-bg: rgb(220, 229, 255);
  --color-account-table-hover-bg: rgb(201, 209, 233);
  --color-account-table-border: rgb(78, 91, 133);
  --color-footer-bg-1: rgb(31, 29, 29);
  --color-footer-bg-2: rgb(43, 40, 40);
  --color-legal-bg: rgb(255, 255, 255);
  --color-legal-nav-link: rgb(105, 105, 105);
  --color-legal-nav-link-hover: rgb(24, 24, 24);
  --color-legal-doc-text: rgb(70, 57, 56);
  --color-logo1-1: rgb(168, 101, 0);
  --color-logo1-2: rgb(0, 0, 0);
  --color-searchbutton: #555;
  --color-searchinput: #222222;
  --color-searchborderselect: #5900ff;
  --color-navlinkbarswipe-thumb: #457a8f;
  --color-navlinkbarswipe-track: #527c8d;
}


/* Dark theme */

[color_theme="dark"] {
  --color-1: rgb(31, 39, 65);
  --color-2: rgb(26, 49, 32);
  --color-cmd-bg: rgb(0, 0, 0);
  --color-nav-bg: rgb(24, 76, 104);
  --color-nav-lev2: rgb(35, 94, 126);
  --color-nav-hover: rgb(28, 88, 121);
  --color-nav-acc-select: rgb(14, 197, 103);
  --color-nav-dropdownbtnshow: rgb(255, 0, 0);
  --color-social-hover: rgb(51, 51, 51);
  --color-accordion-item-border: rgb(58, 135, 165);
  --color-text: rgb(255, 255, 255);
  --color-text-tame1: rgb(192, 192, 192);
  --color-text-tame2: rgb(156, 156, 156);
  --color-nav-text: rgb(255, 255, 255);
  --color-nav-text-hover: rgb(243, 235, 235);
  --color-link: rgb(239, 242, 255);
  --color-link-hover: rgb(205, 218, 255);
  --color-account-table-bg: rgb(19, 31, 68);
  --color-account-table-hover-bg: rgb(22, 37, 80);
  --color-account-table-border: rgb(161, 170, 199);
  --color-footer-bg-1: rgb(31, 29, 29);
  --color-footer-bg-2: rgb(43, 40, 40);
  --accordion-toggle-image-close: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eeeeee'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
  --accordion-toggle-image-open: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>  <path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
  --color-legal-bg: rgb(0, 0, 0);
  --color-legal-nav-link: rgb(214, 214, 214);
  --color-legal-nav-link-hover: rgb(255, 255, 255);
  --color-legal-doc-text: rgb(240, 240, 240);
  --color-logo1-1: rgb(255, 187, 85);
  --color-logo1-2: rgb(255, 0, 0);
  --color-searchbutton: #555;
  --color-searchinput: #222222;
  --color-searchborderselect: #5900ff;
  --color-navlinkbarswipe-thumb: rgb(18, 65, 90);
  --color-navlinkbarswipe-track: rgb(79, 110, 126);
}

// #######################################
//		My Sass variables
// #######################################
$navBarHeight: 40px;
$footerSmallHeight: 40px;
// #######################################
//		Bootstrap
// #######################################
// $form-floating-height:            40px;
// $form-floating-label-transform:   scale(.8) translateY(-.5rem) translateX(.15rem);
// $form-floating-padding-y:         0.35rem;
// $form-floating-input-padding-t:   1.5rem;
// $form-floating-input-padding-b:   0.8rem;
// ACCORDION OVERRIDES
// $accordion-padding-y:                     1.5rem;// LEAVE THE PADDING-Y TO DEFAULT
// $accordion-padding-x:                     1.5rem;// LEAVE THE PADDING-X TO DEFAULT
// $accordion-icon-color:                    rgb(0,0,0); 
// $accordion-icon-active-color:             rgb(255,0,0); 
// $accordion-icon-width:                    1rem; // LEAVE THE WIDTH TO DEFAULT
// $accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
// $accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>  <path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
// ##########################################
//   OPTION 1: 
// - IMPORT BOOTSTRAP ( The entire bootstrap with everything)
// ##########################################
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
// ##########################################
//   OPTION 2: 
// - IMPORT IMPORT ONLY THE PART OF BOOTSTRAP YOU WANT TO USE
// ##########################################
// // Configuration
@import "../../anode/node_modules/bootstrap/scss/functions";
@import "../../anode/node_modules/bootstrap/scss/variables";
@import "../../anode/node_modules/bootstrap/scss/variables-dark";
@import "../../anode/node_modules/bootstrap/scss/mixins";
@import "../../anode/node_modules/bootstrap/scss/maps";
@import "../../anode/node_modules/bootstrap/scss/utilities";
// // Include any optional Bootstrap components as you like
// @import "../../node/node_modules/bootstrap/scss/root";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// // Helpers
// @import "../../node_modules/bootstrap/scss/helpers";
// // Utilities
// @import "../../node_modules/bootstrap/scss/utilities/api";