@use '../components/custom' as *;
@use '../components/mixins' as *;
body {
  overflow: hidden;
}

.mainHLessFooter {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - $navBarHeight - $footerSmallHeight);
  display: flex;
  flex-direction: column;
}

.mainHFull {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - $navBarHeight);
  display: flex;
  flex-direction: column;
}

.home_section {
  @include gradientBg;
  padding: 1rem 0.5rem;
  flex-grow: 1;
}

.pagetop_message {
  position: sticky;
  top: $navBarHeight;
  background-color: $warning;
  color: black;
  border: 0.05rem solid white;
}

.mainNoOverflow {
  height: calc(100vh - $navBarHeight - $footerSmallHeight);
}

.horizontal_separator_full {
  display: flex;
  flex-direction: row;
  margin: auto;
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
}

.color_tame {
  color: var(--color-text-tame2);
}

// Button with no-drop cursor
.no-drop {
  cursor: no-drop;
}

.spinner_style {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}