@use '../custom' as *;
@use '../components/mixins' as *;
// Navbar settings
.mset_nav {
  height: $navBarHeight !important;
  background: var(--color-nav-bg);
}

// navbar links
.navbar_links>li>a {
  color: var(--color-nav-text);
  &:hover {
    color: var(--color-nav-text-hover);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Buttons of navbar
////////////////////////////////////////////////////////////////////////////////////////
.btn_nav {
  height: $navBarHeight;
  color: var(--color-nav-text);
  @include flexCenter;
  &:hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  &__link {
    padding: 0 0.5rem;
    @media (min-width: 610px) {
      padding: 0 0.8rem;
    }
    @media (min-width: 1300px) {
      padding: 0 1rem;
    }
    text-decoration: none;
  }
  &__logo {
    width: 40px;
    @media (min-width: 300px) {
      width: 50px;
    }
    @media (min-width: 359px) {
      width: 55px;
    }
    @media (min-width: 388px) {
      width: 60px;
    }
    @media (min-width: 1400px) {
      width: 140px;
    }
  }
  &__search {
    min-width: 40px;
    @media (min-width: 300px) {
      min-width: 50px;
    }
    @media (min-width: 359px) {
      min-width: 55px;
    }
    @media (min-width: 388px) {
      min-width: 60px;
    }
  }
  &__com {
    min-width: 40px;
    @media (min-width: 359px) {
      min-width: 45px;
    }
    @media (min-width: 399px) {
      min-width: 50px;
    }
    @media (min-width: 1400px) {
      min-width: 90px;
    }
  }
  &__side_menus {
    width: 55px;
    @media (min-width: 359px) {
      width: 68px;
    }
    @media (min-width: 1200px) {
      /* Styles for small screens lg */
      width: 80px;
    }
    @media (min-width: 1450px) {
      /* Styles for small screens lg */
      width: 95px;
    }
  }
}

.navfullsearchbar {
  max-width: 360px;
  @media (min-width: 1200px) {
    width: 360px;
  }
}

.btn_nav[aria-expanded="true"] {
  background: red;
}

.navlinkbarparent {
  overflow: hidden;
  @media (min-width: 992px) and (max-width: 1200px) {
    overflow: visible;
  }
}

.navlinkbarswipe {
  display: flex;
  align-items: center;
  max-width: fit-content;
  height: calc($navBarHeight - 0px);
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  /* Firefox */
  scrollbar-width: thin;
  /* IE and Edge */
  -ms-overflow-style: none;
  a {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-nav-hover);
  }
  &::-webkit-scrollbar-track {
    background-color: #afafaf;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    min-width: 500px;
  }
}

.navavatarimageimg {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn_ddnavthemecenter {
  @include flexCenter;
}

// Menu buttons inside dropdown and inside accordion (__sub)
.navbtn_accordion {
  width: 269px;
  height: $navBarHeight !important;
  padding-left: 20px !important;
  text-align: left;
  background-color: var(--color-nav-bg);
  color: var(--color-nav-text);
  padding: 0;
  margin: 0;
  border: none;
  &:hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  &__sub {
    width: 249px !important;
    background-color: var(--color-nav-lev2);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Accordion menu
////////////////////////////////////////////////////////////////////////////////////////
.accordion-body {
  padding: 0px !important;
}

.accordion .accordion-item {
  border: none;
}

// identation block before level2 button
.acorlev2preblock {
  background-color: var(--color-nav-select);
  width: 20px !important;
  height: $navBarHeight !important;
}

// accordion button
.accordion-button {
  height: $navBarHeight !important;
  background-color: var(--color-nav-bg);
  padding-left: 20px !important;
  color: var(--color-nav-text);
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:not(.collapsed) {
    color: var(--color-nav-text);
    background-color: var(--color-nav-select);
  }
  &:hover,
  &:not(.collapsed):hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  // toggle icon
  &:after {
    background-image: var(--accordion-toggle-image-close);
  }
  &:not(.collapsed):after {
    background-image: var(--accordion-toggle-image-open);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Dropdowns of navbar
////////////////////////////////////////////////////////////////////////////////////////
.ddnav .dropdown-menu {
  &__search {
    width: 450px;
    height: 40px;
    @media (max-width: 576px) {
      /* Styles for small screens sm */
      width: 100vw;
      top: -(calc($navBarHeight + 3px)) !important;
    }
  }
  &__com {
    width: 190px;
  }
  &__login {
    min-width: 190px;
    max-width: 250px;
  }
  background-color: var(--color-nav-bg);
  a,
  span {
    color: var(--color-nav-text);
  }
  .ddtogled:focus {
    background-color: var(--color-nav-bg);
  }
  li:hover {
    a:hover {
      color: var(--color-nav-text);
      background-color: var(--color-nav-hover);
    }
    form:hover {
      background-color: var(--color-nav-hover);
    }
    .ddtogled {
      background-color: var(--color-nav-hover);
      color: var(--color-nav-text);
    }
  }
}

.scrollable_menu {
  height: auto;
  max-height: calc(100vh - $navBarHeight);
  overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////////////////
//           Search dropdown
////////////////////////////////////////////////////////////////////////////////////////
.search_suggest_list {
  max-height: 400px;
  overflow-y: auto;
}

.search_suggest_title {
  text-align: left;
  font-size: 15px;
}

.search_suggest_date {
  text-align: left;
  font-size: 12px;
}

////////////////////////////////////////////////////////////////////////////////////////
//           Login Avatar
////////////////////////////////////////////////////////////////////////////////////////
.nav_avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #71c6dd;
  img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #8b8b8b;
    z-index: 111;
    border-radius: 50%;
    border: 0.12rem solid #3f4156;
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -3px;
  }
  &__active:after {
    background-color: #00ff22;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           in main.html
////////////////////////////////////////////////////////////////////////////////////////
.navbar_separator_height {
  height: $navBarHeight;
}