@use '../components/custom' as *;
@use '../components/mixins' as *;
@use '../components/typography' as *;
$screenwidth_sm: 576px;
$screenwidth_md: 768px;
$screenwidth_lg: 992px;
$screenwidth_xl: 1200px;
$screenwidth_xxl: 1400px;
// Navbar settings
.mset_nav {
  height: $navBarHeight !important;
  background: var(--color-nav-bg);
  // prevent dragging and selecting
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// navbar links
.navbar_links>li>a {
  color: var(--color-nav-text);
  &:hover {
    color: var(--color-nav-text-hover);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Buttons of navbar
////////////////////////////////////////////////////////////////////////////////////////
.btn_nav {
  height: $navBarHeight;
  color: var(--color-nav-text);
  @include flexCenter;
  &:hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  &__link {
    padding: 0 0.5rem;
    @media (min-width: 610px) {
      padding: 0 0.8rem;
    }
    @media (min-width: 1250px) {
      padding: 0 1rem;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    width: 50px;
    @media (min-width: 359px) {
      width: 55px;
    }
    @media (min-width: 388px) {
      width: 60px;
    }
    @media (min-width: $screenwidth_xl) {
      width: 110px;
    }
  }
  &__search {
    min-width: 40px;
    @media (min-width: 300px) {
      min-width: 50px;
    }
    @media (min-width: 359px) {
      min-width: 55px;
    }
    @media (min-width: 388px) {
      min-width: 60px;
    }
  }
  &__com {
    min-width: 40px;
    @media (min-width: 359px) {
      min-width: 45px;
    }
    @media (min-width: 399px) {
      min-width: 50px;
    }
    @media (min-width: $screenwidth_xxl) {
      min-width: 90px;
    }
  }
  &__side_menus {
    width: 55px;
    @media (min-width: 359px) {
      width: 68px;
    }
    @media (min-width: $screenwidth_xl) {
      /* Styles for small screens lg */
      width: 80px;
    }
    @media (min-width: 1450px) {
      /* Styles for small screens lg */
      width: 95px;
    }
  }
}

.btn_nav[aria-expanded="true"] {
  background: var(--color-nav-dropdownbtnshow);
}

.navlinkbarparent {
  overflow: hidden;
}

.navlinkbarswipe {
  z-index: 100;
  display: flex;
  align-items: center;
  max-width: fit-content;
  height: calc($navBarHeight - 0px);
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  /* Firefox */
  scrollbar-width: thin;
  /* IE and Edge */
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-navlinkbarswipe-thumb);
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-navlinkbarswipe-track);
  }
  @media (min-width: $screenwidth_lg) and (max-width: calc($screenwidth_xl - 0.1px)) {
    width: 480px;
  }
}

.btn_ddnavthemecenter {
  @include flexCenter;
}

// Menu buttons inside dropdown and inside accordion (__sub)
.navbtn_accordion {
  width: 269px;
  height: $navBarHeight !important;
  padding-left: 20px !important;
  text-align: left;
  background-color: var(--color-nav-bg);
  color: var(--color-nav-text);
  padding: 0;
  margin: 0;
  border: none;
  &:hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  &__sub {
    width: 249px !important;
    background-color: var(--color-nav-lev2);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Accordion menu
////////////////////////////////////////////////////////////////////////////////////////
.accordion-body {
  padding: 0px !important;
}

.accordion .accordion-item {
  border: none;
}

// identation block before level2 button
.acorlev2preblock {
  background-color: var(--color-nav-acc-select);
  width: 20px !important;
  height: $navBarHeight !important;
}

// accordion button
.accordion-button {
  height: $navBarHeight !important;
  background-color: var(--color-nav-bg);
  padding-left: 20px !important;
  color: var(--color-nav-text);
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:not(.collapsed) {
    color: var(--color-nav-text);
    background-color: var(--color-nav-acc-select);
  }
  &:hover,
  &:not(.collapsed):hover {
    background-color: var(--color-nav-hover);
    color: var(--color-nav-text-hover);
  }
  // toggle icon
  &:after {
    background-image: var(--accordion-toggle-image-close);
  }
  &:not(.collapsed):after {
    background-image: var(--accordion-toggle-image-open);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           Dropdowns of navbar
////////////////////////////////////////////////////////////////////////////////////////
.ddnav .dropdown-menu {
  &__com {
    width: 190px;
  }
  &__login {
    min-width: 190px;
    max-width: 250px;
  }
  background-color: var(--color-nav-bg);
  a,
  span {
    color: var(--color-nav-text);
  }
  .ddtogled:focus {
    background-color: var(--color-nav-bg);
  }
  li:hover {
    a:hover {
      color: var(--color-nav-text);
      background-color: var(--color-nav-hover);
    }
    form:hover {
      background-color: var(--color-nav-hover);
    }
    .ddtogled {
      background-color: var(--color-nav-hover);
      color: var(--color-nav-text);
    }
  }
}

.scrollable_menu {
  height: auto;
  max-height: calc(100vh - $navBarHeight);
  overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////////////////
//           Login Avatar
////////////////////////////////////////////////////////////////////////////////////////
.nav_avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #71c6dd;
  img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #8b8b8b;
    border-radius: 50%;
    border: 0.12rem solid #3f4156;
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -5px;
  }
  &__active:after {
    background-color: #00ff22;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           in main.html
////////////////////////////////////////////////////////////////////////////////////////
.navbar_separator_height {
  height: $navBarHeight;
  flex-shrink: 0;
}

////////////////////////////////////////////////////////////////////////////////////////
//           Search bar
////////////////////////////////////////////////////////////////////////////////////////
$heightseachbox: 36px;
$halfheight: calc($heightseachbox / 2);
$searchbuttoncolor: #555;
$searchinputcolor: #222222;
$searchborderselectcolor: #5900ff;
.navSearchBoxDiv0 {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (max-width: calc($screenwidth_sm + 0.1px)) {
    margin-top: 5px;
    margin-bottom: 7px;
  }
  @media screen and (min-width: $screenwidth_sm) and (max-width: calc($screenwidth_lg - 0.1px)) {
    max-width: 500px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $screenwidth_lg) {
    max-width: 360px;
  }
  @media screen and (min-width: $screenwidth_xl) {
    width: 360px;
  }
}

.navSearchBoxDiv1 {
  @include flexCenter;
  position: relative;
  width: 100%;
  // max-width: 400px;
  height: $heightseachbox;
  margin-right: calc(7vw - 10px);
  /* This margin will be 5% of the viewport's width */
  @media screen and (min-width: $screenwidth_sm) {
    margin-right: 0;
  }
}

.navSearchBoxDiv2 {
  height: 100%;
  width: 100%;
  background-color: var(--color-searchinput);
  border-radius: $halfheight 0 0 $halfheight;
  margin-left: 25px;
  padding-left: 0;
  border: 1px solid var(--color-searchbutton);
}

.navSearchInputTxt {
  width: 100%;
  height: 100%;
  margin-left: 16px;
  @include fnavsearchinput;
  outline: none;
  border: none;
  background: transparent;
  color: var(--color-text);
  &:not(:focus) {
    color: gray;
  }
}

.navSearchBtnEnter {
  @include flexCenter;
  min-width: 52px;
  height: 100%;
  background-color: var(--color-searchbutton);
  border-radius: 0 $halfheight $halfheight 0;
}

.navSearchIconLoupe {
  pointer-events: none;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  left: 14px;
}

.navSearchBtnClearX {
  display: none; // flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  right: 50px;
}

.navSearchBtnBack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 10px;
}

.navSearchBtnRound {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  &:hover {
    background-color: rgb(125, 0, 0, 0.5);
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//      search containers 
////////////////////////////////////////////////////////////////////////////////////////
.navSearchMain {
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  right: 0;
  top: 0;
  background-color: var(--color-nav-bg);
  @media screen and (min-width: $screenwidth_sm) and (max-width: calc($screenwidth_lg - 0.1px)) {
    top: calc($navBarHeight + 3px);
  }
  @media screen and (min-width: $screenwidth_lg) {
    position: static;
  }
}

.navSearchResDiv0 {
  position: static;
  width: 100%;
  background-color: var(--color-nav-bg);
  border-radius: 5px;
  // Scrollable :
  height: auto;
  overflow-x: hidden;
  max-height: calc(100vh - $navBarHeight - 10px);
  @media screen and (min-width: $screenwidth_sm) and (max-width: calc($screenwidth_lg - 0.1px)) {
    max-height: calc(100vh - $navBarHeight - 62px);
  }
  @media screen and (min-width: $screenwidth_lg) {
    max-height: calc(100vh - $navBarHeight - 5px);
    width: 670px;
    max-width: 100%;
    position: fixed;
    top: calc($navBarHeight + 3px);
    right: 0px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
//           
////////////////////////////////////////////////////////////////////////////////////////