@use '../custom' as *;

.text_color {
    color: var(--color-text);
}
.link_1 {
  color: var(--color-link);
  text-decoration: underline;
  &:hover {
    color: var(--color-link-hover);
  }
}
.header-1 {
  font-weight: 600;
  font-size: 35px;
}
.header-2 {
  font-weight: 600;
  font-size: 23px;
}
.small-1 {
  font-weight: 400;
  font-size:14px;
}
.medium_1 {
  font-weight: 400;
  font-size:18px;
}

.legal-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6rem;
    &--title-1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: capitalize;
        // margin-bottom: 1rem;
    }
    &--title-2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 19px;
        text-transform: uppercase;
    }
    &--small {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
    }
}
