{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% trans "Create account info" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <h3 class="mt-5 mb-2">
    {% if CURRENT_LANGUAGE == "en" %}
    'Send and email to and specify "Create an account".'
    {% endif %}
    {% if CURRENT_LANGUAGE == "fr" %}
    'Send and email to and specify "Create an account".'
    {% endif %}
  </h3>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}