{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <section id="login_section" class="login_section">
    <div class="container">
      <div class="row text_color text-center">
        <p class="mb-3">{% trans "This option is not available." %}</p>
      </div>
    </div>
  </section>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}