{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <section id="login_section" class="login_section">
    <div class="container">
      <div class="row text_color text-center">
        <h1 class="mb-3">{% trans "Reset your password" %}</h1>
        <h3 class="mb-3">{{ form.email.value }}</h3>
      </div>
      <form class="form" action="" method="POST">
        {% csrf_token %} {{ form.email }}
        <div class="row login_row">
          <div class="form-floating" style="padding: 0">
            <input class="form-control login_input" type="password" name="password1" id="inputPassword"
              placeholder="Password" />
            <label for="inputPassword">{% trans "Password" %}</label>
            <span class="d-flex justify-content-end">
              <i class="far fa-eye eye-icon" id="togglePassword" style="cursor: pointer" title="Show/Hide"></i>
            </span>
          </div>
          <label class="login_validate-label">{% trans "Please enter your password." %}</label>
        </div>
        <div class="row login_row text_color text-center">
          <div class="login-agreement">
            {% trans "When you <strong>Register</strong>, you agree to our" %} <a class="link_1"
              href="#">{% trans "User Agreement" %}</a> {% trans "and" %}
            {% trans "aknowledge reading our" %} <a class="link_1" href="#">{% trans "User Privacy Notice" %}</a>.
          </div>
        </div>
        <div class="row login_row">
          <button type="submit" class="rounded-pill btn-login btn-login__signin">{% trans "Register" %}</button>
        </div>
      </form>
    </div>
  </section>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}