{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <section id="login_section" class="login_section">
    <div class="container">
      <div class="row text_color text-center login_header_text">
        <h1 class="">{% trans "Hello" %}</h1>
        <div class="fs-6">{% trans "Sign in to Zap or" %} <a class="link_1"
            href="{% url 'users:create_account_info' %}">{% trans "create&nbspan&nbspaccount" %}</a></div>
      </div>
    </div>
  </section>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}