{% extends 'main.html' %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Sign-in" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <section id="login_section" class="login_section">
    <div class="container-fluid">
      <div class="row text_color text-start">
        <img class="p-0" src="{% static '/images/logo1_light.png' %}" height="30px" style="width: auto;" alt="Logo"
          name="logo1_light">
        <img class="p-0" src="{% static '/images/logo1_dark.png' %}" height="30px" style="width: auto;" alt="Logo"
          name="logo1_dark" hidden>
        <div class="fs-4 mt-1 p-0 pb-3">{% trans "Enter your Zap account password to access this page." %}
        </div>
        <div class="fs-4 mt-1 p-0 pb-3">{{ form.email.value }}
        </div>
      </div>
      {% if warning_message != None %}
      <div class="row login_warning" style="display: block">
        <div class="d-flex flex-nowrap">
          <div class="pe-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
              class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
          </div>
          <span class="ms-1 mb-1">{{warning_message}}</span>
        </div>
      </div>
      {% else %}
      <br>
      {% endif %}
      <form class="form p-0" action="" method="POST">
        {% csrf_token %}
        <div class="row mt-2">
          <div class="form-floating" style="padding:0;">
            <input class="form-control login_input" type="password" name="password" id="Password" placeholder="Password"
              autofocus>
            <label for="inputPassword">{% trans "Password" %}</label>
          </div>
        </div>
        {% comment %} pass url next= in post form {% endcomment %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div class="row mt-2">
          <button type="submit" class="rounded-pill btn-login 
        btn-login__signin">{% trans "Continue" %}</button>
        </div>
      </form>
    </div>
  </section>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}