{% extends 'main.html' %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Sign-in" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block content %}

<main class="d-flex flex-fill">
  <section id="login_section" class="login_section">
    <div class="container-fluid">
      <div class="row text_color text-start">
        <img class="p-0" src="{% static '/images/Logo1Light.png' %}" height="30px" style="width: auto;" alt="Logo"
          name="Logo1Light">
        <img class="p-0" src="{% static '/images/Logo1Dark.png' %}" height="30px" style="width: auto;" alt="Logo"
          name="Logo1Dark" hidden>
        <div class="fs-4 mt-1 p-0 pb-3">{% trans "Sign in to your account" %}
        </div>
      </div>
      {% if warning_message != None %}
      <div class="row login_warning" style="display: block">
        <div class="d-flex flex-nowrap">
          <div class="pe-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
              class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
          </div>
          <span class="ms-1 mb-1">{{warning_message}}</span>
        </div>
      </div>
      {% else %}
      <br>
      {% endif %}

      <form class="form p-0" action="" method="POST">
        {% csrf_token %}
        <div class="row mt-2">
          {% comment %} <label class="login_validate-label">{{ form.non_field_errors }}</label>
          <label class="login_validate-label">{{ form.email.errors }}</label> {% endcomment %}
          <div class="form-floating" style="padding: 0">
            <input type="" class="form-control login_input" name="email" id="inputEmail" value="{{ form.email.value }}"
              placeholder="Email" />
            <label for="inputEmail">{% trans "email address" %}</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-floating" style="padding:0;">
            <input class="form-control login_input" type="password" name="password" id="Password"
              placeholder="Password">
            <label for="inputPassword">{% trans "Password" %}</label>
          </div>
        </div>
        {% comment %} pass url next= in post form {% endcomment %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div class="row mt-2">
          <button type="submit" class="rounded-pill btn-login 
        btn-login__signin">{% trans "Sign in" %}</button>
        </div>
        <!-- Toggle div display, see javascript -->
        <div class="row mt-4 text_color text-center toggleDisplayCtnWithBtn">
          <div class="form-check d-flex justify-content-center">
            <label class="form-check-label">
              <input class="form-check-input me-2" type="checkbox" name="stay_signed_in"
                {% if form.stay_signed_in.value %} checked {% endif %}>
              {% trans "Stay&nbsp;" %}
            </label>
            <span class="link_1 toggleDisplayBtn" type="button">{% trans "signed in" %}</span>
          </div>
          <div>
            {% trans "Uncheck if using a public device." %} <br>
          </div>
          <div class="login-learn toggleDisplayCtn" style="display: none;">
            <div class="row">
              <span class="col-2">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="bi bi-info-circle login-learn__info-icon" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </span>
              <span class="col-10 text-start">
                {% if CURRENT_LANGUAGE == "en" %}
                With this box checked, you will be kept signed in on this device. However, accessing account information
                may require entering your password.
                {% endif %}
                {% if CURRENT_LANGUAGE == "fr" %}
                With this box checked, you will be kept signed in on this device. However, accessing account information
                may require entering your password.
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="row fs-6 mt-5 text_color text-end">
        <div class="fs-6">
          <a class="link_1"
            href="{% url 'users:create_account_info' %}">{% trans "Create&nbspa&nbspnew&nbspaccount" %}</a>
        </div>
        <div class="fs-6 mt-2">
          <a class="link_1" href="{% url 'users:password_reset_info' %}">{% trans "Reset&nbspmy&nbsppassword" %}</a>
        </div>
      </div>
    </div>
  </section>
</main>
{% include 'base/footers/footer_small.html' %}

{% endblock %}