{% extends 'main.html' %}
{% load i18n %} {% load l10n %} {% load tz %} {% load static %}
{% block title %}{% trans "Test" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% block content %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    Tests  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

<main class="d-flex flex-fill">
  <section id=" testing_section" class="home_section text_color">
    <div class="searchboxmainjs" style="height: 40px; width:100%; ">
      <div class="d-flex flex-column align-items-center">
        <div class="searchboxctn0">
          <div class="d-flex d-sm-none searchbtnback searchbtnround" type="button">
            <svg width="30" height="30">
              <use href="{% static '/images/icons/arrowb.svg' %}#img"></use>
            </svg>
          </div>
          <div class="searchboxctn1">
            <div class=" searchboxctn2">
              <input class="searchinputit" type="text" placeholder="{% trans "Search" %}" id="search-input3"
                oninput="sendWebSocketMessage()" />
            </div>
            <div class="searchbtnenter" type="button">
              <svg width="18" height="18">
                <use href="{% static '/images/icons/search.svg' %}#img"></use>
              </svg>
            </div>
            <svg class="searchiconloupe" width="14" height="14">
              <use href="{% static '/images/icons/search.svg' %}#img"></use>
            </svg>
            <div class="searchbtnx searchbtnround" type="button">
              <svg width="20" height="20">
                <use href="{% static '/images/icons/x-lg.svg' %}#img"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="searchresultsctn1" id="response-container0">
          asdf fjas;djf iosadjf iasdjf l;asknv uerhg laskdv sadnv ;awn vl;sand fwnoiavn
        </div>
      </div>
    </div>
  </section>
</main>

<script>
</script>


{% comment %} {% include 'base/footers/footer_small.html' %} {% endcomment %}
{% include 'base/footers/footer_small.html' %}



{% endblock %}