{% extends 'main.html' %}
{% load i18n %} {% load l10n %} {% load tz %} {% load static %}
{% block title %}{% trans "Test" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% block content %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    Tests  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

<main class="d-flex flex-fill">
  <section class="home_section text_color">


  </section>
</main>

<script>
</script>


{% comment %} {% include 'base/footers/footer_small.html' %} {% endcomment %}
{% include 'base/footers/footer_small.html' %}



{% endblock %}