{% extends 'main.html' %}
{% load i18n %} {% load l10n %} {% load static %}
{% block title %}{% trans "Articles" %}{% endblock %}
{% block desc %}{% trans "" %}{% endblock %}
{% block content %}

<script src="https://unpkg.com/htmx.org@1.9.4"></script>
{% comment %} Force the scrolling to the top of the page {% endcomment %}
<script>
  history.scrollRestoration = "manual";
  window.addEventListener('beforeunload', function () {
    window.scroll(0, 0);
  });
</script>
<main class="d-flex flex-fill">
  <section class="" style="width:100%">
    <div class="p-3 container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">

        {% comment %} bootstrap spinner mixed with htmx id and class {% endcomment %}
        <div id="my-indicator" class=" htmx-indicator spinner-border spinner_style" role="status">
          <span class="sr-only"></span>
        </div>

        {% include 'articles/articles_page_htmx.html' %}

      </div>
    </div>
  </section>
</main>

{% comment %} {% include 'base/footers/footer_small.html' %} {% endcomment %}
{% include 'base/footers/footer_small.html' %}

{% endblock %}